body {
    background-image: url("./images/dot.jpg");
    background-size: contain;

    height: 100vh;
    width: 100vw;

    z-index: -2;

    overflow: hidden;
}

.container {
    height: 100vh;
}

#Index {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#buttonBox {
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}

#buttonBox button, #buttonBox_1 button {
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
    margin-top: 0;
}

#buttonBox button:hover, #buttonBox_1 button:hover {
    text-decoration: underline;
}

#buttonBox_1 {
    position: absolute;
    top: 6rem;
    left: 1rem;
}

#Kokomi {
    width: 30vw;
    max-width: 200px;
    position: absolute;
    top: 10vw;
    right: 5vw;
    rotate: 30deg;
}

#Miko {
    width: 43vw;
    max-width: 200px;
    position: absolute;
    bottom: 10vw;
    left: 5vw;
    rotate: -15deg;
}

#Paimon {
    width: 45vw;
    max-width: 200px;
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    rotate: 10deg;
}

#English, #Chinese, #Phonetic {
    text-align: center;
}